{%extends "base.html"%} {%block title%} HormonesHelpcare | Home{%endblock%}
{%block content%}

<div class="container-fluid text-center m-auto" id="landing__page">
  <div class="landing__page__text">
    <h1>
      Welcome to <span style="color: orange">HormonesHelpcare</span>
    </h1>
    <p>
      Your
      trusted source for all kinds of hormones such as Estrogen, testosterone
      blockers , progesterone, progestin , proclatin , insulin , dick
      enlargement pills
    </p>
    <p>
      Feminizing hormone therapy helps male-to-female transgender individuals
      (transwomen) achieve a more feminine appearance. It uses anti-androgens to
      block male hormones. Taking estrogen and progestin helps you develop
      breasts, softer skin, rounder hips and more..
    </p>
   
    <span id="btn"
      ><a href="/products">EXPLORE OUR PRODUCTS</a></span
    >
  </div>
</div>


<section>
  <div class="container" id="about__us">
    <h3 style="color: orange; margin-bottom: 20px">Changes That Occur While Using Our Products</h3>

  <p class="mt-3">
    These are the Changes from estrogen and testosterone blockers 
includes:
  </p>
  <ol>

    <li>Softer skin </li>
    <li>More fat on the hips</li>
    <li>Buttocks and face FEMININE </li>
    <li>Full BIG breasts</li>
    <li>Hair growth </li>
    <li>Lose chin hairs </li>
    <li>Voice feminine </li>
    <li>Possibly stop creating sperm</li>
    <li>Experience fewer and smaller erections</li>
    <li>Have your testicles shrink</li>
    <li>Your hips and thighs</li>
  </ol>
  </div>
</section>

<section id="section2">
  <div class="container" id="about__us">
    <h3 style="color: orange; margin-bottom: 20px">ABOUT US</h3>
    <p>
      At HormonesHelpcare, we understand that achieving hormonal balance is
      essential for leading a fulfilling and healthy life. With our mission to
      provide easy access to top-notch hormonal medications, we empower
      individuals to take charge of their physical and emotional well-being. Our
      dedicated team of experts is committed to offering a seamless online
      shopping experience, ensuring that you receive the highest quality
      products tailored to your unique needs.
    </p>
    <p>
      HormonesHelpcare was founded by a team of passionate individuals with a
      shared vision: to revolutionize the way hormonal medications are accessed
      and obtained. With years of experience in the pharmaceutical industry, we
      recognized the need for a trusted platform that not only provides a wide
      array of medications but also prioritizes safety, authenticity, and
      customer satisfaction.
    </p>
    <p>
      As advocates for hormonal health, we strive to bridge the gap between
      individuals seeking effective treatments and the availability of reliable
      medications. HormonesHelpcare is more than just an online store; it's a
      supportive community where you can find the resources and guidance
      necessary to navigate your hormonal journey with confidence.
    </p>
    <p>
      <a href="#">READMORE...</a>
    </p>
  </div>
</section>

<section id="section3">
  <!-- Content for section 3 -->
  <div class="container" id="contact__us">
    <h3 style="color: orange; margin-bottom: 20px">CONTACT US</h3>
    <!-- Default form contact -->
    <form class="text-center border border-light" action="#!">
      <!-- Name -->
      <input
        type="text"
        id="defaultContactFormName"
        class="form-control mb-4"
        placeholder="Name"
      />

      <!-- Email -->
      <input
        type="email"
        id="defaultContactFormEmail"
        class="form-control mb-4"
        placeholder="E-mail"
      />

      <!-- Subject -->
      <label>Subject</label>
      <select class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Feedback</option>
        <option value="2">Make a complain</option>
        <option value="3">Track your order</option>
        <option value="4">Our products Info..</option>
      </select>

      <!-- Message -->
      <div class="form-group">
        <textarea
          class="form-control rounded-0"
          id="exampleFormControlTextarea2"
          rows="3"
          placeholder="Message"
        ></textarea>
      </div>

      <!-- Copy -->
      <div class="custom-control custom-checkbox m-4">
        <input
          type="checkbox"
          class="custom-control-input"
          id="defaultContactFormCopy"
        />
        <label class="custom-control-label" for="defaultContactFormCopy"
          >Send me a copy of this message</label
        >
      </div>

      <button class="btn btn-info btn-block" type="submit">Send</button>
    </form>
  </div>
</section>

<section class="home-testimonial mt-5" style="background-color: blue">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center testimonial-pos">
      <div class="col-md-12 pt-4 d-flex justify-content-center">
        <h3 style="font-weight: 700; color: #fff" class="m-3">Testimonials</h3>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <h2 style="font-weight: 500; color: #fff" class="mb-3 mt-2">
          Explore the users' experience
        </h2>
      </div>
    </div>
  </div>

  <section class="home-testimonial-bottom">
    <div class="container testimonial-inner">
      <div class="row d-flex justify-content-center">
        <div class="col-md-4 style-3">
          <div
            class="tour-item"
            style="
              padding: 10px;
              margin-bottom: 20px;
              border-radius: 10px;
              margin-top: 20px;
            "
          >
            <div
              class="tour-desc bg-white"
              style="padding: 10px; border-radius: 10px"
            >
              <div class="tour-text color-grey-3 text-center">
                &ldquo;I've been struggling with hormonal imbalances for years,
                and HormonesHelpcare has been a lifesaver! Since using their
                products, I feel more balanced, energized, and my mood swings
                have significantly reduced. The customer support team was
                incredibly helpful in recommending the right products for my
                needs. I highly recommend HormonesHelpcare to anyone seeking
                natural solutions for hormonal issues.&rdquo;
              </div>
              <div class="d-flex justify-content-center pt-2 pb-2">
                <img
                  class="tm-people"
                  src="https://images.pexels.com/photos/6625914/pexels-photo-6625914.jpeg"
                  alt=""
                  style="width: 40px; height: 35px; border-radius: 35px"
                />
              </div>
              <div class="link-name d-flex justify-content-center">
                Alice James
              </div>
              <div class="link-position d-flex justify-content-center">
                Student
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 style-3">
          <div
            class="tour-item"
            style="
              padding: 10px;
              margin-bottom: 20px;
              border-radius: 10px;
              margin-top: 20px;
            "
          >
            <div
              class="tour-desc bg-white"
              style="padding: 10px; border-radius: 10px"
            >
              <div class="tour-text color-grey-3 text-center">
                &ldquo;HormonesHelpcare offers a fantastic range of products,
                and I appreciate the emphasis on natural ingredients. After a
                few weeks of using their supplements, I did notice some positive
                changes in my energy levels and sleep patterns. However, I was
                hoping for more immediate results. Nevertheless, I'm pleased
                with the overall quality and effectiveness of the products. I'll
                continue using HormonesHelpcare and hope to see even better
                results in the long run.&rdquo;
              </div>
              <div class="d-flex justify-content-center pt-2 pb-2">
                <img
                  class="tm-people"
                  src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""
                  style="width: 40px; height: 35px; border-radius: 35px"
                />
              </div>
              <div class="link-name d-flex justify-content-center">
                Favour Koret
              </div>
              <div class="link-position d-flex justify-content-center">
                Trader
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 style-3">
          <div
            class="tour-item"
            style="
              padding: 10px;
              margin-bottom: 20px;
              border-radius: 10px;
              margin-top: 20px;
            "
          >
            <div
              class="tour-desc bg-white"
              style="padding: 10px; border-radius: 10px"
            >
              <div class="tour-text color-grey-3 text-center">
                &ldquo;I was initially skeptical about trying out
                HormonesHelpcare, but I'm so glad I did! Their products have
                made a noticeable difference in my overall well-being. I feel
                more focused, less fatigued, and my skin has improved too. The
                ordering process was smooth, and my package arrived quickly.
                Great job, HormonesHelpcare team! I'll definitely be a repeat
                customer.&rdquo;
              </div>
              <div class="d-flex justify-content-center pt-2 pb-2">
                <img
                  class="tm-people"
                  src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""
                  style="width: 40px; height: 35px; border-radius: 35px"
                />
              </div>
              <div class="link-name d-flex justify-content-center">
                Grande Jane
              </div>
              <div class="link-position d-flex justify-content-center">
                Worker
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

{%endblock%}
