{%extends "base.html"%} {%block title%}Hormonescall | Products {%endblock%}
{%block content%}

<div class="container">
  <h4 class="text-center mt-5 mb-3">Searched Results</h4>

  <div class="row">
    {%if data%}
    {%for dt in data%} 
    <div class="col-lg-6 mb-3 mb-sm-0">
      <div class="card m-auto mb-4" style="width: 20rem">
        <img
          src="{{dt.image_url}}"
          class="card-img-top"
          alt="..."
          style="width: 100%; height: 25vh"
        />
        <div class="card-body">
          <h5 class="card-title">{{dt.name}}</h5>
          <p class="card-text">{{dt.description}}</p>
          <button class="openChatButton btn btn-primary" data-auto-message="Hello! Pharmacareglobal, I want to pruchase {{dt.name}} for the price of ${{dt.price}}, please kindly drop payment details, THANKS">Buy for ${{dt.price}}</button>
        </div>
      </div>
    </div>
    {%endfor%}
    {%else%}
    <h4>Products Not Found</h4>
    {%endif%} 
  </div>
</div>

<div class="container">
  <h4
    class="m-5"
    style="
      color: orange;
      margin-top: 20px;
      text-align: center;
      font-weight: 700;
    "
  >
    Suggested Products
  </h4>
  <div class="row">

    {%for rd in rand%} 
    <div class="col-lg-6 mb-3 mb-sm-0">
      <div class="card m-auto mb-4" style="width: 20rem">
        <img
          src="{{rd.image_url}}"
          class="card-img-top"
          alt="..."
          style="width: 100%; height: 25vh"
        />
        <div class="card-body">
          <h5 class="card-title">{{rd.name}}</h5>
          <p class="card-text">{{rd.description}}</p>

          <button class="openChatButton btn btn-primary" data-auto-message="Hello! Pharmacareglobal, I want to pruchase {{rd.name}} for the price of ${{rd.price}}, please kindly drop payment details, THANKS">Buy for ${{rd.price}}</button>

        </div>
      </div>
    </div>
    {%endfor%}
    
  </div>

</div>

<script>
  // Function to open the Tawk.to chat widget
  function openTawkToChat() {
      if (typeof Tawk_API !== 'undefined') {
          // Use Tawk_API methods to control the chat widget
          Tawk_API.toggle();
          
      }
  }

  var buttons = document.getElementsByClassName("openChatButton");

  // Attach the function to each button's click event
  for (var i = 0; i < buttons.length; i++) {
      buttons[i].addEventListener("click", openTawkToChat);
  }
</script>
{%endblock%}


